.MyBoardItem {
  text-decoration: none;
}
.Grid11x11 {
  /* min-height: 400px; */
  /* min-width: 400px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: solid rgb(120, 136, 159) 1px;
  width: 440px;
}
.DivItem {
  display: flex;
  flex-basis: 30px;
  justify-content: center;
  flex-direction: column;
}
.Item {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: solid rgb(120, 136, 159) 2px;
  box-sizing: border-box;
  text-align: center;
  line-height: 34px;
  position: relative;
}

.MyBoardShipSquare {
  background-color: rgb(120, 136, 159);
}
.SunkShipSquare {
  background-color: rgb(120, 136, 159);
}

.dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 10px;
  background-color: rgb(120, 136, 159);
  border-radius: 50%;
  display: inline;
  line-height: 34px;
  text-align: center;
}

.cross {
  color: red;
  display: inline-block;
  content: "\00d7";
  font-size: 50px;
  font-family: Arial, sans-serif;
}
