.main-header {
  top: 0;
  height: 60px;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  align-self: flex-start;
  flex-wrap: wrap;
  position: sticky;
  margin-bottom: auto;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 2;

  .main-logo {
    margin-left: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: auto;
    color: var(--text-primary-color);
  }

  .icon-button {
    margin-right: 30px;
  }

  @media screen and (max-width: 500px) {
    .main-logo {
      display: none;
    }

    .icon-button {
      margin-left: auto;
    }
  }
}
